<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/BlueCrown/src/main/resources/static/images/dashbord.css">

</head>

<body>
    <section class="Container">
    <div class="box" id="greeting">
        <h1>Hi Mayur</h1>
        <h3>Welcome to BlueCrown</h3>
    </div>
    </section>
  <section class="Container" id="details">
    <div ><h1>Total Classroom</h1><h3>5</h3></div>
    <div ><h1>Total Joined</h1><h3>3</h3></div>
  </section>
  <section class="Container" id="Classrooms" >

  </section>
</body>
</html>