<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
      <link rel="stylesheet" href="/BlueCrown/src/main/resources/static/home.css">
    <title>Document</title>
</head>
<body>
 <header><nav>
  <h1 id="logo"><img src="/BlueCrown/src/main/resources/static/images/logo.png"></h1>
  <ul>
  <li class="itme1"><a href="home.html">Home</a></li>
  <li class="itme2"><a href="">Classroom</a></li>
  <li class="itme3"><a href="">Notes</a></li>
  <li class="itme4"><a href="">About us</a></li>
</ul>
<div id="Profile">Profile</div>
 </nav></header>
 <div id="Main">

 </div>
 <footer></footer>
</body>
</html>