<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueCrown</title>
    <link rel="stylesheet" href="/BlueCrown/src/main/resources/static/images/index.css">
</head>
<body>
    <div id="Main">
       <div id="Sidebar">
            <h1>BlueCrown</h1>
            <nav>
                <ul>
                    <li><a href="">Create Classroom</a></li>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">logout</a></li>
                </ul>
            </nav>
       </div>

       <div id="content">
        <header ><h1 id="selectedOption">Dashboard</h1></header>
        <iframe src="/BlueCrown/src/main/resources/templates/dashbord.html" frameborder="0"></iframe>
       </div>
      
    </div>
</body>
</html>