<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BlueCrown</title>
    <link rel="stylesheet" th:href="@{/css/LoginRegister.css}">
    <title>Document</title>
</head>
<body>

    <h1 id="title"><i>BlueCrown</i></h1>
    <div class="Container">
      
            <div id="Title-box">
                <div class="heading" id="siginin">
                    <button id="sign-but" >  <h1>Sign in</h1></button>
                </div>
                <div class="heading" id="login">
                    <button id="login-but">
                        <h1>Login</h1>
                    </button>
                </div>
                <div id="bar"></div>
            </div>
                <div id="form-conatiner">
              
               <form th:action="@{/Admin/auth}" method="post" id="Register" class="Page" th:object="${admin}">
    <div class="input-field">
        <input type="text" th:field="*{username}" placeholder="Username" required>
    </div>
    <div class="input-field">
        <input type="email" th:field="*{email}" placeholder="Email" required>
    </div>
    <div class="input-field">
        <input type="password" th:field="*{password}" placeholder="Password" required>
    </div>
    <div class="input-field">
        <input type="submit" value="Register" id="Rgister-sub-but">
    </div>
</form>

                 <form th:action="@{/login}" method="post" id="Login" class="Page">
                     <div class="input-field">
                        <input type="text" name="username"  placeholder="Email" required>  
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Login" required>
                    </div>
                </form>
                 </div>
            </div>
      
    </div>
 <script th:inline="javascript">
       /*<![CDATA[*/
    let msg = /*[[${Message}]]*/ null;
    if (msg !== null) {
        alert(msg);
    }
    /*]]>*/
</script>



</body>

<script>
    const signbut=document.getElementById("sign-but");
    const Logbut=document.getElementById("login-but");
    const RegisterPage=document.getElementById("Register");
    const LoginPage=document.getElementById("Login");
    const bar=document.getElementById("bar");
    const RegisSubmit=document.getElementById("Rgister-sub-but")
 
   signbut.addEventListener("click",()=>{
    
    LoginPage.style.transform="translate(-40vw)"
    RegisterPage.style.transform="translate(0)"
    bar.style.transform="translate(-14.2vw)"
    bar.style.animation = "none"; // remove it
  void bar.offsetWidth; 
     bar.style.animation="small 1s ease-out forwards";
   })
   Logbut.addEventListener("click",()=>{
    
       RegisterPage.style.transform="translate(40vw)"
       LoginPage.style.transform="translate(0vw)"
       bar.style.transform="translate(0)";
       bar.style.animation = "none"; // remove it
void bar.offsetWidth; 
        bar.style.animation="small 1s ease-out forwards";
   })
   
    
</script>
