<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Siksha</title>
	<link rel="stylesheet" th:href="@{/dashbord.css}" />
	<link rel="stylesheet" th:href="@{/CreateClassroom.css}" />
	<link rel="stylesheet" th:href="@{/Responsive.css}">

</head>

<body>
	<div id="Main">
		<div id="Sidebar">
			<h1>Siksha</h1>
			<nav>
				<ul>
					<!-- Use single quotes inside onclick to avoid conflicts -->
					<li><a href="/User/profile">Profile</a></li>
					<li><a href="/User/JoinClassroom">Join Classroom</a></li>
					<li><a href="/User/dashboard">Dashboard</a></li>

					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
			<h1 id="cross" style="color:white">X</h1>

		</div>

		<div id="content">
			<header>
				<h1 id="selectedOption">Join Classroom</h1>
			</header>
			<section>
				<div id="Class-detail-box">

					<form  onsubmit="return JoinClassroom(event)">
						<label for="classroomName">Enter Code</label>
						<input type="text" name="Joincode" id="Joincode" required>
						
						<input type="submit" value="Join" id="submit-but">
					</form>
				</div>

			</section>

		</div>
	</div>
	</div>


</body>
<script>
function JoinClassroom(event){
	 event.preventDefault();
	const joinCode=document.getElementById("Joincode").value;
	fetch("/api/user/join", {
    method: "POST",
    headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify(joinCode)
})
.then(response => {
    if (response.status === 404) {
        alert("Not found");
        window.location.href = "/User/dashboard";
    } else {
        alert("Join Successfully");
        window.location.href = "/User/dashboard";
    }
})
.catch(error => {
    console.log("Error:", error);
});
	
}
</script>

</html>