<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Siksha</title>
	<link rel="stylesheet" th:href="@{/dashbord.css}" />
	<link rel="stylesheet" th:href="@{/UploadNotes.css}" />
	<link rel="stylesheet" th:href="@{/Responsive.css}">

</head>

<body>
	<div id="Main">
		<div id="Sidebar">
			<h1>Siksha</h1>
			<nav>
				<ul>
					<!-- Use single quotes inside onclick to avoid conflicts -->
					<li><a href="/Admin/profile">Profile</a></li>
					<li><a href="/Admin/CreateClassroom">Create Classroom</a></li>
					<li><a href="/Admin/dashboard">Dashboard</a></li>

					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
			<h1 id="cross" style="color:white">X</h1>

		</div>

		<div id="content">
			<header>
				<h1 id="selectedOption">Upload Notes</h1>
			</header>
			<section>
				<div id="Notes-upload-box">

					<form id="Form-file" required>
						<div id="box">

							<label>Choose the file</label>
							<input type="file" name="file" id="File">

							<input type="submit" value="submit" id="submit-but">
						</div>
					</form>
				</div>

			</section>

		</div>
	</div>
	</div>


</body>
<script>
	const Code = "[[${Code}]]";

	document.getElementById("Form-file").addEventListener("submit", (e) => {
		e.preventDefault();
		const formData = new FormData();
		formData.append("file", document.getElementById("File").files[0])
		fetch(`/${Code}/Notes/UploadNotes`, {
			method: 'POST',
			body:formData
		}).then(data => {
			console.log("Upload success:", data);
			alert("File uploaded successfully.");
		})
			.catch(error => {
				console.error("Error uploading file:", error);
				alert("Failed to upload file.");
			});
	})
</script>

</html>